<div class="row">
  <ul>
    <% @all_plans.each do |plan| %>
      <li><%= link_to plan.plan_name, "/users/#{@user.id}/training_plans/#{plan.id}", method: :put %><li>
    <% end %>
  </ul>
</div>

<div class="row">
  <h1>Dodie</h1>
    <%= form_for [@user, @training_plan] do |f| %>
      <%= f.label :plan_name %><br>
      <%= f.text_field :plan_name %>

      <%= f.label :start_time %><br>
      <%= f.select :start_time, @times %>

      <%= f.label :end_time %><br>
      <%= f.select :end_time, @times %>

      <%= f.submit %>
    <% end %>
</div>
